In [1]:
import pandas as pd

In [2]:
# Load the data from the Excel spreadsheet
file_path = './data.csv'
df = pd.read_csv(file_path)

In [3]:
# Calculate year-over-year growth rates for Total Revenue and Net Income
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income'].pct_change() * 100

In [4]:
# Fill NA values that result from pct_change calculations with 0 or an appropriate value
df.fillna(0, inplace=True)

In [5]:
# Display the dataframe to verify the calculations
print(df)

     Company  Year  Total Revenue  Net Income  Total Assets  \
0  Microsoft  2024         245122       88136        512163
1  Microsoft  2023         211915       72361        411976
2  Microsoft  2022         198270       72738        364840
3      Tesla  2024          97690        7153        122070
4      Tesla  2023          96773       14974        106618
5      Tesla  2022          81462       12587         82338
6      Apple  2024         391035       93736        364980
7      Apple  2023         383285       96995        352583
8      Apple  2022         394328       99803        352755

   Total Liabilities  Cash Flow  Revenue Growth (%)  Net Income Growth (%)
0             243686     118548            0.000000               0.000000
1             205753      87852          -13.547132             -17.898475
2             198298      89035           -6.438902               0.520999
3              48390      14923            0.000000               0.000000
4              43009      13256           -0.938684             109.338739
5              36440      14974          -15.821562             -15.940964
6             308030     118254            0.000000               0.000000
7             290437     110543           -1.981920               3.476786
8             302083     122151            2.881146               2.894995

In [6]:
# Optionally, you could summarize these findings for each company
summary = df.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

In [7]:
print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

Year-over-Year Average Growth Rates (%):
     Company  Revenue Growth (%)  Net Income Growth (%)
0      Apple            0.299742               2.123927
1  Microsoft           -6.662011              -5.792492
2      Tesla           -5.586748              31.132592

In [8]:
# Define chatbot
def simple_chatbot(user_query):
    user_query = user_query.lower()
    
    if "total revenue" in user_query and "apple" in user_query and "2024" in user_query:
        value = df[(df['Company'] == 'Apple') & (df['Year'] == 2024)]['Total Revenue'].values[0]
        return f"The total revenue of Apple in 2024 was ${value:,} million."
    
    elif "net income" in user_query and "microsoft" in user_query and "2023" in user_query:
        value = df[(df['Company'] == 'Microsoft') & (df['Year'] == 2023)]['Net Income'].values[0]
        return f"Microsoft's net income in 2023 was ${value:,} million."
    
    elif "revenue changed" in user_query and "tesla" in user_query:
        value = df[(df['Company'] == 'Tesla') & (df['Year'] == 2024)]['Revenue Growth (%)'].values[0]
        return f"Tesla's revenue changed by {value:.2f}% in 2024 compared to 2023."
    
    elif "average revenue growth" in user_query and "apple" in user_query:
        value = summary[summary['Company'] == 'Apple']['Revenue Growth (%)'].values[0]
        return f"Apple's average revenue growth over 2022â€“2024 was {value:.2f}%."
    
    elif "average net income growth" in user_query and "microsoft" in user_query:
        value = summary[summary['Company'] == 'Microsoft']['Net Income Growth (%)'].values[0]
        return f"Microsoft's average net income growth over 2022â€“2024 was {value:.2f}%."
    
    else:
        return "Sorry, I can only provide information on predefined queries like revenue, net income, or growth for Apple, Microsoft, and Tesla."

In [10]:
# Command-line chatbot interface
print("ðŸ’¬ Welcome to the Financial Chatbot! Type 'exit' to quit.")
while True:
    query = input("You: ")
    if query.lower() == 'exit':
        break
    print("Bot:", simple_chatbot(query))

ðŸ’¬ Welcome to the Financial Chatbot! Type 'exit' to quit.
Bot: The total revenue of Apple in 2024 was $391,035 million.
Bot: Tesla's revenue changed by 0.00% in 2024 compared to 2023.
Bot: Microsoft's average net income growth over 2022â€“2024 was -5.79%.
Bot: Sorry, I can only provide information on predefined queries like revenue, net income, or growth for Apple, Microsoft, and Tesla.